#logo {
	display: block;
	margin-left: 550px;
}

#ganon {
	padding-left:650px;
}

#link {
	margin-left: 200px;
}

#linksattacks {
	margin-left: 250px;
	border: 3px solid black;
}

#linkname {
	padding-left: 250px;
}

#ganonname {
	padding-left: 650px
}

#link-hp {
	padding-left: 250px;
}

#ganon-hp {
	padding-left: 650px
}